<auth-background>
  <auth-card label="Zaloguj się">
    <form [formGroup]="form" (submit)="handleSubmit()" class="form">
      <span>
        <ui-label label="Login" for="login">
          <input pInputText type="text" formControlName="login" id="login" fluid/>
        </ui-label>
        @if (form.get('login')?.invalid && form.get('login')?.touched) {
          <small class="error">Login nie może być pusty.</small>
        }
      </span>
      <span>
        <ui-label label="Hasło" for="password">
          <p-password id="password" formControlName="password" toggleMask feedback="false" fluid/>
        </ui-label>
        @if (form.get('password')?.invalid && form.get('password')?.touched) {
          <small class="error">Hasło nie może być puste.</small>
        }
      </span>
      <p class="reset-password">
        <a href="/reset-password">Zapomniałeś hasła?</a>
      </p>
      <p-button fluid type="submit">Zaloguj się</p-button>
    </form>
    <a rel="stylesheet" href="/sign-up">Zarejestruj się</a>
  </auth-card>
</auth-background>
