<auth-background>
  <auth-card label="Zarejestruj się">
    <form (submit)="handleSubmit()" [formGroup]="form" class="form">
      <span>
        <ui-label for="login" label="Login">
          <input class="input" formControlName="login" id="login" pInputText type="text" fluid/>
        </ui-label>
        @if (form.get('login')?.invalid && form.get('login')?.touched) {
          <small class="error">Login nie może być pusty.</small>
        }
      </span>
      <span>
        <ui-label for="password" label="Hasło">
          <p-password class="input" feedback="false" fluid formControlName="password" id="password" toggleMask/>
        </ui-label>
        @if (form.get('password')?.invalid && form.get('password')?.touched) {
          <small class="error">Hasło nie może być puste.</small>
        }
      </span>
      <span>
        <ui-label for="passwordConfirmation" label="Powtórz hasło">
          <p-password
              class="input"
              feedback="false"
              fluid
              formControlName="passwordConfirmation"
              id="passwordConfirmation"
              toggleMask
          />
        </ui-label>
        @if (form.get('passwordConfirmation')?.invalid && form.get('passwordConfirmation')?.touched) {
          <small class="error">Powtórz hasło.</small>
        }
        @if (form.hasError('isPasswordMismatch') && form.get('passwordConfirmation')?.touched) {
          <small class="error">Hasła się nie zgadzają.</small>
        }
      </span>
      <p-button fluid type="submit">Zarejestruj się</p-button>
    </form>
    <a href="/sign-in" rel="stylesheet">Zaloguj się</a>
  </auth-card>
</auth-background>
