@import 'primeicons/primeicons.css';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif, 'primeicons';
}

a {
  color: var(--p-primary-500);
}

button {
  font-weight: bold;
}

.error {
  color: var(--p-red-500);
}

.p-menu-item:not(.p-disabled) .p-menu-item-content:has(.p-menu-item-link-active) {
  color: var(--p-menu-item-focus-color);
  background: var(--p-menu-item-focus-background);

  .p-menu-item-icon {
    color: var(--p-menu-item-icon-focus-color);
  }
}
